<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.min.css" >
    <link src="webjars/bootstrap/5.3.2/js/bootstrap.min.js">
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header bg-danger">
                <h5><strong class="alert-danger"> Delete confirmation </strong></h5>
            </div>
            <div class="card-body">
                <div class="card-group">
                    <p><strong class="text-danger">Do you want to Delete this patient :</strong></p>
                    <h4 th:text=" 'Last name: '${patient.lastName},' First Name' ${patient.firstName},'Health\'s Stast: ' ${isSick ? 'sick' : 'not sick'} "></h4>
                </div>
                <div class="card-group">
                    <a th:href="@{/deleteValidation(deleteValidation=${Confirm}, id=${(patient.id)} )}" class="btn btn-danger" >Confirm</a>
                    <a th:href="@{/deleteValidation(deleteValidation=${Cancel})}" class="btn btn-outline-danger">Cancel</a>
                </div>

            </div>
        </div>
    </div>
</body>
</html>